@charset "UTF-8";

.dark-bg-color{
   background-color: #252525 !important;
}

.gray-bg-color{
    background-color: #CDCDCD !important;
} 

.light-bg-color{
    background-color: #FFF;
}

.dark-tx-color{
    color: #252525 !important;
}

.light-gray-tx-color{
    color: #AAAAAA !important;
}

.light-tx-color{
    color: #FFF;
}